#parent-container{
  background-color: white;
  /* display: flex; */
}
.icons{
  font-size: o.5rem;
}

#ad-banner-main{
  /* width: 20%;
  height: 20%; */
  background-color: aqua !important;

}

#radio-image{
  margin-top: 5px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icons{
  margin: 10px 10px;
}

#ad-scroll{
  margin-top: 15px;
  width: 100%;
  height: 20%;
  background-color: bisque;
}

#playing-text{
  margin-top: 14px;
  /* margin-right: 85px; */
}

#contact-us{
  margin-top: 5px;
}

#radio-player{
  background-color: cornflowerblue;
  margin-top: 2px;
}

#audio-player{
  width: 200px;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) { 
  body{
    background-color: beige;
  }
  #playing-text{
    margin-top: 3px;
    margin-right: 22px;
    margin-left: 11px;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body{
    background-color: gold;
  }
  #playing-text{
    margin-top: 14px;
    margin-right: 85px;
    margin-left: 85px;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  #playing-text{
    margin-top: 14px;
    margin-right: 85px;
    margin-left: 85px;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  #playing-text{
    margin-top: 14px;
    margin-right: 85px;
    margin-left: 85px;
  }
}