<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="white" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="../images/hello-icon-128.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" />

  <title>Bouge Radio</title>
</head>

<body>
  <h4>Bougie Radio!</h4>

  <div class="container" id="parent-container">
    <div>
      <div class="ad-baner">
        <p> Ad banner</p>
        <div>Radio Icon</div>
        <div>
          Radio Player
          <video autoplay="" name="media" controls>
            <source src="https://bougieradio.out.airtime.pro/bougieradio_a" type="audio/mpeg">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
    <div class="">
      <a rel="stylesheet" href="./index.html">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
      <a rel="stylesheet" href="https://facebook.com">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a rel="stylesheet" href="https://instagram.com">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a rel="stylesheet" href="https://whatsapp.com">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
      </a>
      <a rel="stylesheet" href="https://youtube.com">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>

    </div>
    <div>
      <a rel="stylesheet" href="./contact.html">Contact us</a>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="../js/main.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>